main {
  
  max-width: 800px;
  margin: 0 auto;
}

main img {
  width: 150px;
  height: auto;
}

aside {
  width: 20rem;
  margin: 1rem auto;
  border: 2px solid rgb;
  padding: 1rem;
  background-color: #eee;
  color: #333;
  text-align: center;
}

aside img {
  width: 200px;
  height: auto;
}

p {
  padding: 0;
}

footer {
  margin-top: 20px;
  border-top: 1px solid #888;
  text-align: center;
}




