img{
  width: 150px;
  height: auto;
  border: 2px solid #ccc;
  padding: 4px;
  box-shadow: 2px 2px 6px rgba(0,0,0,0.2);
}

main img {
  width: 150px;
  height: auto;
}

aside img {
  width: 200px;
  height: auto;
}

main {
  
  max-width: 800px;
}

aside {
  width: 20rem;
  margin: 1rem auto;
  border: 1px solid rgb(100, 100, 100);
  padding: 1rem;
  background-color: #eee;
  color: #333;
  text-align: center;
}

p {
  padding: 0;
}

h1{
  color: #003366;
}

body {
  font-family: 'Segoe UI', sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
}

nav{
  background-color: #003366; /* BYU Idaho blue*/
  padding: 1rem;
}

/*Navigation links*/
nav a {
  color: white;
  text-decoration: none;
  display: inline-block;
  padding: 0.5rem 1rem;
}

nav a:hover{

  background-color: #0055aa;
  border-radius: 4px;
}

footer {
  margin-top: 20px;
  border-top: 1px solid #888;
  text-align: center;
}

/*Navigation bar Styling*/


/* Main heading style*/


/* All images*/



